<div class="container-fluid">
  <div class="d-flex justify-content-center">
      <%= image_tag "FAT-Logo.png", class:"rounded mx-auto img-fluid mb-3" %>
  </div>
  <div class="container text-center">
    <div class="row">
      <p class="h2">If you are interested in using PlantForm please view the PlantForm introduction video here: 
        <%= link_to "PlantForm Introduction", "https://youtu.be/Lrv7PZ--SaU" %>
      </p>
    </div>
    <p class="strong">The app used to be called Plantform, so do not be confused by the graphics in the video. All functionality remains the same.</p>
  </div>
</div>
