<div class="container-md text-center work-box gardens-head">
  <div class="row justify-content-center">
    <div class="col-lg-auto">
      <p class="display-4">Farm Agritech (FAT) Products and Services</p>
    </div>
  </div>
</div>