<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col">
      <div class="row">
      <%= image_tag "PlantForm-TradeMark-NoBack-FB.jpg", class:"img-fluid pic-box" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col form-box">
      <p class="text-center"><strong>Hello, my name is Donny Buckman. I am the developer of the PlantForm Web App. In the beginning of 2019 while I was still teaching fifth grade I learned that there are some problems with farm soil that could effect crop production. I come from Salinas California, where growers produce billions of dollars worth of produce each year. My first idea for PlantForm was to guide gardeners to use their yard soil in a regenerative way. I call PlantForm the technological centerpiece of the Regenerative Renaissance. The population of the world is increasing at a rate that is greater than the food production growth capacity of the farms. Food scarcity is a real possibility for many people. There is also the issue of job automation. We are informed often that pay is stagnant for many professions. I am not totally successful yet with the regenerative guidance features of PlantForm. I need to take some courses in soil regeneration procedures before I can program them into PlantForm. I was successful though at producing an online marketplace for certain categories of plants. The categories of plants that you can sell and distribute on PlantForm are vegetables, herbs, fruit, house plants, indoor plants, and trees. My expectation is that those of you who go to farmers’ markets will see a huge benefit using PlantForm to source and plan for the market. Additional users might be Community Funded Agriculture (CFA), food banks, and anyone who produces more than they can consume and wants to enter the local market.</strong></p>
    </div>
  </div>
</div>