<div class="container">
      <%= image_tag "FAT-Logo-Web.jpg", class:"rounded mx-auto img-fluid work-box" %>
  <div class="row">
    <div class="col form-box">
      <p class="text-center">
        <strong>My name is Donny Buckman. I am the developer of the Farm AgriTech Web App. I come from the Salinas Valley California. 
        I call Farm AgriTech the Internet centerpiece for the Regenerative Renaissance. My business app Farm AgriTech is an online marketplace 
        for certain categories of farm and plant products. The categories of plants that you can list on Farm AgriTech are 
        AgriTech products: FAT PCs, FAT Cloud PCs, and FAT OS, and tools, supplies, vegetables, herbs, fruit, house plants, indoor plants, and trees. 
        My expectation is that those of you who go to farmers’ markets will see a huge benefit using Farm AgriTech to source and plan for the market. 
        Additional users might be Community Funded Agriculture (CFA), food banks, and anyone who produces more than they can consume and wants to enter the local market.
        </strong>
      </p>
    </div>
  </div>
</div>