<div class="container">
      <%= image_tag "FAT-Logo-Web.jpg", class:"rounded mx-auto img-fluid work-box" %>
  <div class="row justify-content-center align-items-center">
    <div class="col form-box">
      <p class="text-center">
        <p class="h5"><strong>Farm Computing Service and Support</strong></p>
        <p><strong>My name is Donny Buckman. Farm AgriTech is an online marketplace for computers and farm IT services and for certain categories 
        of farm and plant products. The categories of plants that you can list on Farm AgriTech are 
        tools, supplies, vegetables, herbs, fruit, house plants, indoor plants, and trees. 
        My expectation is that those of you who go to farmers’ markets will see a huge benefit using Farm AgriTech to source and plan for the market. 
        Additional users might be Community Funded Agriculture (CFA), food banks, and anyone who produces more than they can consume and wants to enter the local market.
        </strong>
        </p>
      </p>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col form-box">
      <p class="text-center">
        <p class="h5"><strong>Our Mission and Short List of Supported Farm Applications</strong></p>
        <p><strong><a><%= link_to "Farmbright", src="https://www.farmbrite.com/" %></a></strong> - Farm Management Software</p>
        <p><strong><a><%= link_to "Traction", src="https://www.tractionag.com/" %></a></strong> - Farm Management Software</p>
      </p>
    </div>
  </div>
</div>
