<div class="container">
  <%= image_tag "FAT-Logo-Web.jpg", class:"rounded mx-auto img-fluid work-box" %>
  <div class="row justify-content-center align-items-center">
    <div class="col form-box">
      <p class="h3">All Inqueries to D.R.B. Enterprises or Farm AgriTech</p>
      <p class="lead">Contact: Donny Buckman MIS</p>
      <strong>Address:</strong><br />
      Farm AgriTech<br />
      P.O. Box 79332<br />
      Charlotte, NC 28277<br /><br />
      <p><strong>Telephone:</strong> 704-445-4173<br /></p>
      <p><strong>E-Mail: <%= mail_to "dbuckman@farm-agritech.com", "dbuckman@farm-agritech.com" %></strong></p>
      <p><strong>LinkedIn: <a><%= link_to "LinkedIn", src="https://www.linkedin.com/in/donny-buckman" %></a></p>
    </div>
  </div>
</div>