<div class="container-fluid">
  <div class="row align-items-center">
    <%= image_tag "PlantForm-TradeMark-NoBack-FB.jpg", class:'img-fluid pic-box' %>
  </div>
  <div class="row form-box">
    <div class="col">
      <p class="h3">All Inqueries to PlantForm Software</p>
      <p class="lead">Contact: Donny Buckman MIS</p>
      <strong>Address:</strong><br />
      Donny Buckman<br />
      201 Rava Pkwy<br />
      Greenfield, CA 93927<br /><br />
      <strong>Telephone:</strong> 831-229-8474<br />
      <p><strong><%= mail_to "dbuckman@plantformsoftware.com", "E-Mail: dbuckman@plantformsoftware.com" %></strong></p>
    </div>
  </div>
</div>