<div class="container">
  <%= image_tag "FAT-Logo-Web.jpg", class:"rounded mx-auto img-fluid work-box" %>
  <div class="row form-box">
    <div class="col">
      <p class="h3">All Inqueries to D.R.B. Enterprises or Farm AgriTech</p>
      <p class="lead">Contact: Donny Buckman MIS</p>
      <strong>Address:</strong><br />
      Donny Buckman<br />
      P.O. Box 79332<br />
      Charlotte, NC 28271<br /><br />
      <strong>Telephone:</strong> 704-445-4173<br />
      <p><strong><%= mail_to "dbuckman@farm-agritech.com", "E-Mail: dbuckman@farm-agritech.com" %></strong></p>
    </div>
  </div>
</div>