<div class="container">
  <%= image_tag "FAT-Logo.png", class:"rounded mx-auto img-fluid work-box" %>
  <div class="row form-box">
    <div class="col">
      <p class="h3">All Inqueries to Farm AgriTech or PlantForm Software</p>
      <p class="lead">Contact: Donny Buckman MIS</p>
      <strong>Address:</strong><br />
      Donny Buckman<br />
      9825 Stone Borough Dr. Apt. 1222<br />
      Charlotte, NC 28277<br /><br />
      <strong>Telephone:</strong> 831-229-8474<br />
      <p><strong><%= mail_to "dbuckman@farm-agritech.com", "E-Mail: dbuckman@farm-agritech.com" %></strong></p>
    </div>
  </div>
</div>