<div class="container">
      <%= image_tag "FAT-Logo-Web.jpg", class:"rounded mx-auto img-fluid work-box" %>
  <div class="row">
    <div class="col text-center pne-box">
      <p class="h3 display-6">Welcome to the Farm AgriTech Bitcoin Lightning services provider page</p>
    </div>
    <div class="col">
      <%= image_tag "pngimg.com - bitcoin_PNG8.png", class: "rounded img-fluid pne-box px-3" %>
    </div>
    <div class="col text-center pne-box">
      <p class="h3 display-6">Please use the Contact link below to get help setting up your Bitcoin payment systems</p>
    </div>
  </div>
  <div class="row">
    <p class="h4">
      Beginning as early as Winter 2024 Farm AgriTech will begin taking requests to support farmers, market gardeners, and community garden 
      projects. We will provide infrastructure services and end-user onboarding to help clients receive Bitcoin payments over the Lightning network
      as well as On-Chain Bitcoin transfers.
    </p>
    <p class="h4">
      Farm AgriTech will provide training. We will demonstrate how clients can close their own Lightning payment channels to transfer bitcoin 
      to their own on-chain custody. Additional training will demonstrate how to send bitcoin to an exchange service and sell bitcoin on the 
      open market for cash.
    </p>
  </div>
</div>