<p class="h1">What Personal Information About Customers Does PlantFormSoftware.com Gather?</p>
</p>The information we learn from customers helps us personalize and continually improve your PlantForm experience. Here are the types of information we gather.</p>
  <ul class="list-unstyled">
    <li>• Information You Give Us: We receive and store any information you enter on our Web site or give us in any other way. You can choose not to provide certain information, but then you might not be able to take advantage of many of our features. We use the information that you provide for such purposes as responding to your requests, customizing future shopping for you, improving our stores, and communicating with you.</li>
    <li>• Automatic Information: We receive and store certain types of information whenever you interact with us. For example, unlike many Web sites, we do not use "cookies,"</li>
    <li>• E-mail Communications: To help us make e-mails more useful and interesting, we often receive a confirmation when you open e-mail from PlantFormSoftware.com if your computer supports such capabilities. We also compare our customer list to lists received from other companies, in an effort to avoid sending unnecessary messages to our customers. If you do not want to receive e-mail or other mail from us, please adjust your customer communications preferences.</li>
    <li>• Information from Other Sources: We might receive information about you from other sources and add it to our account information.</li>
  </ul>
<p class="h1">What About Cookies?</p>
<p>PlantForm was explicitly designed to eliminate the automatic sharing of information from your web browser, including cookies.</p>
<p class="h1">Does PlantFormSoftware.com Share the Information It Receives?</p>
<p>Information about our customers is an important part of our business, and we are not in the business of selling it to others. We do not share customer information.
<p class="h1">How Secure Is Information About Me?</p>
<ul class="list-unstyled"
    <li>• We work to protect the security of your information during transmissionby using Secure Sockets Layer (SSL) software, which encrypts information you input.</li>
    <li>• We reveal only the last four digits of your credit card numbers when confirming an order. Of course, we transmit the entire credit card number to the appropriate credit card company during order processing. Card cards are secure through the third party payment screen.</li>
    <li>• It is important for you to protect against unauthorized access to your password and to your computer. Be sure to sign off when finished using a shared computer.</li>
  </ul>
<p class="h1">What About Third-Party Advertisers and Links to Other Websites?</p>
<p>Our site includes third-party advertising and links to other Web sites. </p>
<p class="h1">Which Information Can I Access?</p>
<p>PlantFormSoftware.com gives you access to a broad range of information about your account and your interactions with PlantFormSoftware.com for the limited purpose of viewing and, in certain cases, updating that information.</p>
<p class="h1">What Choices Do I Have?</p>
<ul class="list-unstyled">
    <li>• As discussed above, you can always choose not to provide information, even though it might be needed to make a purchase or listing products. </li>
    <li>• You can add or update certain information on listings. When you update information, we usually keep a copy of the prior version for our records.</li>
    <li>• If you do not want to receive e-mail or other mail from us, please adjust your Customer Communications Preference. (If you do not want to receive Conditions of Use and other legal notices from us, such as this Privacy Notice, those notices will still govern your use of PlantFormSoftware.com, and it is your responsibility to review them for changes.)</li>
</ul>
<p class="h1">Are Children Allowed to Use PlantFormSoftware.com?</p>
<p>PlantFormSoftware.com does not sell products for purchase by children. We sell children's products for purchase by adults. If you are under 18, you may use PlantFormSoftware.com only with the involvement of a parent or guardian. We do not knowingly collect personal information from children under the age of 13 without the consent of the child's parent or guardian.</p>
<p class="h1">Conditions of Use, Notices, and Revisions</p>
<p>If you choose to visit PlantFormSoftware.com, your visit and any dispute over privacy is subject to this Notice and our Conditions of Use, including limitations on damages, resolution of disputes, and application of the law of the state of California. If you have any concern about privacy at PlantFormSoftware.com, please contact us with a thorough description, and we will try to resolve it. Our business changes constantly, and our Privacy Notice and the Conditions of Use will change also. We may e-mail periodic reminders of our notices and conditions, but you should check our Web site frequently to see recent changes. Unless stated otherwise, our current Privacy Notice applies to all information that we have about you and your account. We stand behind the promises we make, however, and will never materially change our policies and practices to make them less protective of customer information collected in the past without the consent of affected customers.</p>
<p class="h1">Examples of Information Collected</p>
<p class="h2">Information You Give Us</p>
<p>You provide most such information when you search, buy, list, or communicate with customer service. For example, you provide information when you search for a product; place an order through PlantFormSoftware.com or one of our third-party sellers; provide information in your account(and you might have more than one if you have used more than one e-mail address when shopping with us) or your profile; communicate with us by phone, e-mail, or otherwise; complete a questionnaire or a contest entry form provide and rate reviews. As a result of those actions, you might supply us with such information as your name, address, and phone numbers; credit card information; people to whom purchases have been shipped, including addresses and phone number; e-mail addresses of your friends and other people; content of reviews and e-mails to us; personal description and photograph; and financial information, including Social Security and driver's license numbers.</p>
<p class="h2">Automatic Information</p>
<p>Examples of the information we collect and analyze include the Internet protocol (IP) address used to connect your computer to the Internet; login; e-mail address; password; computer and connection information such as browser type, version, and time zone setting, browser plug-in types and versions, operating system, and platform; purchase history, the full Uniform Resource Locator (URL) clickstream to, through, and from our Web site, including date and time; products you viewed or searched for; and the phone number you used to call our 800 number. During some visits we may use software tools such as Rails and JavaScript to measure and collect session information, including page response times, download errors, length of visits to certain pages, page interaction information (such as scrolling, clicks, and mouse-overs), and methods used to browse away from the page. We may also collect technical information to help us identify your device for fraud prevention and diagnostic purposes.</p>
<p class="h2">Mobile</p>
<p>Most mobile devices provide users with the ability to disable location services. Most likely, these controls are located in the device's settings menu. If you have questions about how to disable your device's location services, we recommend you contact your mobile service carrier or your device manufacturer.</p>
<p class="h2">Information from Other Sources</p>
<p>Examples of information we receive from other sources include credit history information from credit bureaus, which we use to help prevent and detect fraud.</p>
<p class="h2">Information You Can Access</p>
<p>Examples of information you can access easily at PlantFormSoftware.com include up-to-date information regarding recent orders; personally identifiable information (including name, address, e-mail, password); payment settings (including credit card information and promotional certificate and gift card balances); and Your Profile (including your product Reviews, Recommendations, Reminders, personal profile, and Wish List).</p>
