<div class="container">
  <div class="row">    
    <div class="col gardener-instructions-box">
      <p class="h1" class="display-4">Instructions</p>
      <p>Enrolling in a garden gives you options to assist with the various aspects of production. You can check out all the information
      currently available about the garden you enroll in. You will also be able to sign-up
      for Cultivating, Feeding, Seeding/Planting, Weeding, Watering, and Harvesting. These options are available for specific
        gardens and beds over time.
      </p>
    </div>
  </div>
</div>