<div class="container">
  <div class="row">    
    <div class="col prism-instructions-box">
      <p class="display-4" class="display-4">Instructions</p>
      <p>A <strong>bed</strong> is any width you need, but in general they have a 30in (75cm) growing surface. Every rectangle in a garden is 1 meter long. 
      Each rectangle is called a <strong>prism</strong>. You can plant 4 different things in each prism. I call those <strong>cubes</strong>. 
      You can grow any number of one type of plant in a cube.</p> 
      <p><mark>There are three ways to plant your garden.</mark> You can plant an entire bed by clicking on <em>Plant Bed</em> on
          the top of the screen. When you use that method you plant the same thing in the number of cubes you select.
          If you are planting something like arthichokes, berries, or grapes, you may only want to plant one cube of each prism.
          If you have a bed with 2 prisms and plant one cube and one plant for the bed you will have (2 prisms) x (1 cube) x (1 plant) = 2 planted in that bed.
          The second way to plant is by clicking on <em>Plant Prism</em> in any area of a bed. That way you can plant the same thing in 
          the number of cubes you select in the prism. If you plant one for the prism and two cubes you will have (2 cubes) x (1 plant)  = 2 planted in the prism. 
          The third way to plant is by clicking on an *. That will let you plant in a cube. It is recommended that after the initial planting
          to use cubes to manage planting.
          <strong>Remember</strong> you are planting in the cubes in every step.
      </p>
      <p>Only use bed and prism planting on a clear bed, or to clear a bed. If you need to plant
        multiple plant types in prisms you should custom plant to each cube in the bed or consider
        creating a new garden where you can designate a bed for each plant type in the bed. If you 
        plant into the bed and there is already something there it will not work. The same
        goes for harvesting. You could end up harvesting the wrong thing.</p>
      <p>To harvest all you have to do is plant a blank. Click on <em>Plant Bed</em>, <em>Plant Prism</em>, or an *, and click
        the Plant button with nothing in the form. That will take the planting away from the bed, prism, or cube respectively.
      </p>
    </div>
  </div>
</div>